/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family:sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header  */

header .container {
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  padding-top:20px;
}
header .container .logo  {
  display:flex;
  justify-content:center;
  align-items:center;
}
header .container .logo img {
  width:100px;
}
header .container .icon {
  display:flex;
  justify-content:center;
  align-items:center;
}
header .container .icon img {
  width:24px;
  margin-left:10px;
}
header .container .icon a {
  color:#222;
}
/* end header */
.land {
margin-top:-100px;
  height:100vh;
  background-image:url(../image/form.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
